/* =====ROW 1=====*/
      .flex-container1 {
        display: flex;
        gap: 18px;
        width: 100%;
        margin-bottom: 18px;
      }

      .Directory {
      flex: 3;
      min-height: 420px;
      padding: 12px;
      background-color: #e19c91;
      border: 3px solid #996855;
    }

      .Profile {
        flex: 7;
        max-width: 717px;
        min-height: 420px;
        padding: 14px;
        background-color: #e19c91;
        border: 3px solid #996855;
    }

       /* =====ROW 2=====*/
      .flex-container2 {
        display: flex;
        gap: 18px;
        width: 100%;
        margin-top: 0px;
      }

      .Updates {
      flex: 3;
      min-height: 260px;
      padding: 17px;  
      background-color: #fdb1bf;
      border: 3px solid #996855;
    }
      .Footer {
      width: 100%;
      margin-top: 20px;
      padding: 12px;
      background-color: #fffede;
      border: 3px solid #e19c91;
      text-align: center;
      font-size: 13px;
      }

      button {
        font-family: inherit;
        background-color: #fdb1bf;
        border: 3px solid #996855;
        padding: 12px;
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: left;
      }

      button:hover {
        background-color: #fffede;
      }

      .centered-button {
        text-align: center;
        font-weight: bold;
        background-color: #fffede;
      }
      textarea {
      width: 100%;
      min-height: 80px;
      padding: 8px;
      font-family: inherit;
      border: 2px solid #996855;
      background-color: #fffede;
      resize: vertical;
      margin-bottom: 8px;
    }

    h1 {
      font-size: 18px;
      color: #fffede;
      text-align: center;
      margin: 5px 0 12px;
      letter-spacing: 1px;
    }

    h2 {
      font-size: 16px;
      margin-left: 12px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      margin-left: 12px;
      letter-spacing: 1px;
    }

    a {
      text-decoration: none;
    }
    /* =====OVERLAY===== */
    .nameidk {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 20%;
     height: 50%;
     z-index: 1;
     }